<!DOCTYPE html>
<html>
<head>
  <title>Me</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<body>


<div style="margin:10px 10px 10px 10px;">
<nav class="navbar navbar-inverse" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="#"> Admission Made Easy, Dashboard </a>
   </div>
   
</nav>
</div>

<div style="margin:10px 10px 10px 10px;">
	<%= yield %>
</div>
</body>
</html>
